{% extends "base.html" %}

{% block title %}Главная | DeBattle{% endblock %}

{% block content %}
<div class="box">
    <h2>Сервис проведения DeBattle</h2>

    <p>Проект успешно запущен.</p>

    <ul>
        <li><a href="/admin/">Админка</a></li>
        <li>Экран: <a href="/debattle/deb1/screen"> /debattle/&lt;slug&gt;/screen/</a></li>
        <li>Пульт: <a href="/debattle/deb1/control"> /debattle/&lt;slug&gt;/control/</a></li>
        <li>Жюри: <a href="/debattle/deb1/jury"> /debattle/&lt;slug&gt;/jury/</a></li>
        <li>Регистрация: <a href="/debattle/deb1/register"> /debattle/&lt;slug&gt;/register/</a></li>
    </ul>

    <p>
        Если ты это видишь — Django, templates и маршрутизация работают.
    </p>
</div>
{% endblock %}